/** @format */

:root {
  --color-base-100: #f9f8f8;
  --color-base-200: #dbdae1;
  --color-base-300: #bcbcc9;
  --color-base-content: oklch(0.351 0.018 286);
  --color-primary: #f45b23;
  --color-primary-content: oklch(0.153 0.16 38.4);
  --color-secondary: #f3de8a;
  --color-secondary-content: oklch(0.349 0.107 95.8);
  --color-accent: #272838;
  --color-accent-content: oklch(0.855 0.029 281.6);
  --color-neutral: #7e7f9a;
  --color-neutral-content: oklch(0.104 0.041 283.4);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
